h1{
    margin-top: 1rem;
    background-color: rgb(107, 177, 177);
    width: 70%;
    padding: 1rem;
    color: #005cfb;
    border-radius: 1rem;
    font-size: 2rem;
}
label{
    margin: 1.5rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #4D648D;
}
input{
    margin-top: 0.5rem;
    width: 10rem;
    font-size: medium;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #c2fde9;
    border: 2px solid #4D648D;
}
button {
    background-color: aqua;
    margin: 1rem;
    font-size: large;
    border: 2px solid #4D648D;
    padding: 0.7rem;
    border-radius: 0.7rem;
}
p{
    margin: 1rem;
    font-size: 1.5rem;
    color: #40577e;
    font-weight: bolder;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;    
}

body{
    background-color: #7b8386;
}

footer a{
    font-size: large;
    margin: 0.5rem;
    text-decoration: none;
    color: #4D648D;
    font-weight: bolder;
}
footer{
    position: fixed;
  background-color: aqua;
 padding: 1rem;
 right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}